// Vendor imports
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

// mixins
@mixin darken($amount: 80%) {
  // darkens and shifts hue slightly
  filter: brightness($amount) hue-rotate(10deg);
}

// Fonts
$noto: 'Noto Sans', sans-serif;
$helvetica: Helvetica, sans-serif;

// Colours
$darkest: rgb(19, 19, 19);
$dark1: rgb(51, 51, 51);

$light1: rgb(196, 196, 196);