// Vendor imports
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

// Fonts
$noto: 'Noto Sans', sans-serif;
$helvetica: Helvetica, sans-serif;

// Colours
$darkest: rgb(19, 19, 19);
$dark1: rgb(51, 51, 51);
$light1: rgb(196, 196, 196);