// Vendor imports
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

// mixins
@mixin transition($ms: 300ms) {
  transition: all $ms $ease;
}

// scales font with viewport size - works best on children elements
@mixin font-scale($size: 0.8em) {
  font-size: calc($size + 0.8vw + 0.8vh);
}

// darkens and shifts hue slightly
@mixin darken($amount: 80%) {
  filter: brightness($amount) hue-rotate(10deg);
}

// Fonts
$noto: 'Noto Sans', sans-serif;
$helvetica: Helvetica, sans-serif;
$monts: 'Montserrat', sans-serif;

// Colours
$white: #fff;
$black: #000;
$transparent: rgba(0, 0, 0, 0);

$darkest: rgb(19, 19, 19);
$dark1: rgb(51, 51, 51);

$light1: rgb(196, 196, 196);

$info: #3c5a7b;
$confirm: #10ac84;
$warning: #ffe44d;
$danger: #ee5264;

// values
$ease: cubic-bezier(0.1, 0.75, 0.25, 1);
$font-scale: calc(0.7em + 0.3vw + 0.3vh);
$radius: 1em;