.photo-grid {
  background-color: $confirm;
  color: $dark1;

  > section {
    display: grid;
    gap: 1rem;

    /** fr = fractional unit
    * ie 1fr == 1x column 100% of available space
    * 1fr 1fr == 2x columns 50% of available space */
    grid-template-columns: repeat(auto-fill, minmax(12rem, 0.9fr));
    grid-auto-rows: 12rem;

    .card:hover p {
      text-shadow: 2px 3px 1px #850238f1;
    }

    @media screen and (min-width: 600px) {
      .card-tall {
        grid-row: span 2 / auto;
      }

      .card-wide {
        grid-column: span 2 / auto;
      }
    }
  }
}